<div class="article-share-icons">  
  <a title="{{ 'social.icons.facebook' | t }}" href="//www.facebook.com/sharer.php?u={{ shop.url }}{% if template contains 'blog' or template == 'article' %}{{ article.url }}{% else %}{{ product.url }}{% endif %}" class="facebook" target="_blank"><img src="https://cdn.shopify.com/s/files/1/3012/3948/files/facebookIcon.svg?v=1616534506"></a>
  <a title="{{ 'social.icons.twitter' | t }}"  href="//twitter.com/home?status={{ shop.url }}{% if template contains 'blog' or template == 'article' %}{{ article.url }}{% else %}{{ product.url }}{% endif %} via @{{ settings.twittername }}" title="Share on Twitter" target="_blank" class="twitter"><img src="https://cdn.shopify.com/s/files/1/3012/3948/files/witterIcon.svg?v=1616534506"></a>
  
  {% if template contains 'blog' or template contains 'article' %}
  {% if article.image %}
  <a title="{{ 'social.icons.pinterest' | t }}" target="blank" href="//pinterest.com/pin/create/button/?url={{ shop.url }}{{ article.url }}&amp;media={{ article.image.src | img_url: 'grande' | prepend: 'http:' }}" title="Pin This Article" class="pinterest"><img src="https://cdn.shopify.com/s/files/1/3012/3948/files/pinteresIcon.svg?v=1616534506"></a>
  {% endif %}   
  {% endif %}
  
  {% if template contains 'product' %}
  <a title="{{ 'social.icons.pinterest' | t }}" target="blank" href="//pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&amp;media={{ product.images[0] | product_img_url: '1024x1024' | prepend: 'http:' }}" title="Pin This Product" class="pinterest"><img src="https://cdn.shopify.com/s/files/1/3012/3948/files/pinteresIcon.svg?v=1616534506"></a>
  {% endif %}
  
  {%comment%}  
  <a href="#"><img src="https://cdn.shopify.com/s/files/1/3012/3948/files/telegramIcon.svg?v=1616534506"></a>
  {%endcomment%}
</div>

