{{'sozy-babes-portal.scss.css' | asset_url | stylesheet_tag }}
<script src="https://cdn.attn.tv/livesozy/checkout/checkout.js" defer></script>
<script src="https://cdn.attn.tv/livesozy/dtag.js"></script>
<section class="portalHeader">
  <picture>
    <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/3012/3948/files/headerDesktop.png?v=1612987164" />    
    <source media="(min-width: 0px)" srcset="https://cdn.shopify.com/s/files/1/3012/3948/files/headerMobile.png?v=1612987163" />
    <img  src="https://cdn.shopify.com/s/files/1/3012/3948/files/headerDesktop.png?v=1612987164">
  </picture>
  
  <div class="portalHeader__text">
    <h3>JOIN THE MOVEMENT</h3>
    <h1>SOZY BABE AMBASSADOR PROGRAM</h1>
    <div class="portalHeader__buttons">
      <a class="portalHeader__signup" href="#ambassadorsForm">SIGN UP</a>
      <a class="portalHeader__login" href="/pages/sozy-babes-ambassador">LOG IN</a>
    </div>
  </div>  
</section>

<section class="ambassadorPerks">
  <div class="ambassadorPerks__divider"></div>
  <h2>BRAND AMBASSADOR PERKS</h2>
  <p>Here's what you can expect when you become a Sozy Babe</p>
  
  <div class="ambassadorPerks__grid">
    <div class="ambassadorPerks__card">
      <img src="https://cdn.shopify.com/s/files/1/3012/3948/files/discount.svg?v=1612991817">
      <h3>SWEET DISCOUNT</h3>
      <p><strong>30% off lifetime discount code just for you</strong> + 10% of profits of your orders supports the fight against sexual violence!</p>    
    </div>
    <div class="ambassadorPerks__card">
      <img src="https://cdn.shopify.com/s/files/1/3012/3948/files/paid-content.svg?v=1612991817">
      <h3>AMAZING PRIZES FOR CONTENT</h3>
      <p>Submit great content, earn a chance to win free swag and even all expense paid trips!</p>
    </div>
    <div class="ambassadorPerks__card">
      <img src="https://cdn.shopify.com/s/files/1/3012/3948/files/movement.svg?v=1612991817">
      <h3>JOIN THE SOZY MOVEMENT</h3>
      <p>By becoming a Sozy Ambassador you are setting a new standard and promoting positive change</p>
    </div>
  </div>  
</section>

<section class="howItWorks">
  <div class="howItWorks__body">
    <h2>HOW IT WORKS</h2> 
    <div class="howItWorks__grid">
      <div class="howItWorks__card">
        <div class="howItWorks__img">
          <img src="https://cdn.shopify.com/s/files/1/3012/3948/files/step1.png?v=1613054621">
          <span>1</span>
        </div>
        <div class="howItWorks__text">
          <h3>APPLY</h3>
          <p>Take 30 seconds and fill out <span>our super simple application below</span></p>
        </div>      
      </div>

      <div class="howItWorks__card">
        <div class="howItWorks__img">
          <img src="https://cdn.shopify.com/s/files/1/3012/3948/files/step2.png?v=1613054621">
          <span>2</span>
        </div>
        <div class="howItWorks__text">
          <h3>DISCOUNT & SHOP</h3>
          <p>If accepted, you will receive a 30% off discount to shop your favorite Sozy styles. You are helping us set a new standard. <span>You are:</span></p>
          <ul>
            <li>Empowering women.</li>
            <li>Helping our planet.</li>
            <li>Making a difference.</li>
          </ul>
        </div>
      </div>

      <div class="howItWorks__card">
        <div class="howItWorks__img">
          <img src="https://cdn.shopify.com/s/files/1/3012/3948/files/step3.png?v=1613054621">
          <span>3</span>
        </div>
        <div class="howItWorks__text">
          <h3>CREATE & WIN</h3>
          <p>Submit content and every submission counts as an entry to win weekly, monthly and quarterly prizes and swag! This is your chance to lead by example and show the world a more mindful way. 
            Share your experiences, adventures, and empowered moments with the world. #LiveSozy </p>
        </div>    
      </div>
    </div>  
  </div>

  <div class="howItWorks__footer">
    <img src="https://cdn.shopify.com/s/files/1/3012/3948/files/stepFooter.png?v=1613054623">
  </div>
</section>


<section class="programFeatures">
  <h2>THIS IS NOT YOUR TYPICAL <br> AMBASSADOR PROGRAM</h2>

  <div class="programFeatures__divider"></div>

  <p>This is about more than just promoting a brand. This program is about empowering women, setting a new standard, and making a difference. 
    We are looking for passionate, unique, caring individuals who are tired of accepting the way things are and want to change our world for the better. 
  </p>  
  <p>Here at Sozy we want to set a new standard for how a brand should operate now and beyond.</p>

</section>

<section class="pageBanner">
  <h2>OUR MISSION IS PURE</h2>
  <p><strong>10% of profits supports survivors of sexual violence</strong> (via RAINN)</p>
  
  <div class="pageBanner__grid">
    <div class="pageBanner_card">
      <img src="https://cdn.shopify.com/s/files/1/3012/3948/files/BannerIcons_01.png?v=1605795089">
      <p>FEMALE FOUNDED</p>
    </div>
    <div class="pageBanner_card">
      <img src="https://cdn.shopify.com/s/files/1/3012/3948/files/BannerIcons_02.png?v=1605795089">
      <p>USA MADE</p>
    </div>
    <div class="pageBanner_card">
      <img src="https://cdn.shopify.com/s/files/1/3012/3948/files/BannerIcons_03.png?v=1605795089">
      <p>1% FOR THE PLANET</p>
    </div>
    <div class="pageBanner_card">
      <img src="https://cdn.shopify.com/s/files/1/3012/3948/files/BannerIcons_04.png?v=1605795089">
      <p>CARBON NEUTRAL</p>
    </div>
    <div class="pageBanner_card">
      <img src="https://cdn.shopify.com/s/files/1/3012/3948/files/BannerIcons_05.png?v=1605795089">
      <p>B CORP</p>
    </div>
    <div class="pageBanner_card">
      <img src="https://cdn.shopify.com/s/files/1/3012/3948/files/BannerIcons_06.png?v=1605795089">
      <p>1 TREE PLANTED</p>
    </div>
  </div>
</section>


<section class="pageCarousel">

  <h2>MEET OUR GIRL GANG</h2>
  
  <div class="pageCarousel__carouselContainer">
  
    <div class="mainSliderContainer">    
      <div class="mainSliderContainer__slide">
        <div class="mainSliderContainer__img">
          <img src="https://cdn.shopify.com/s/files/1/3012/3948/files/carouselImg1.png?v=1613145540">
        </div>
        <div class="mainSliderContainer__text">
          <p>"I am in love with this dress. <br> As soon as I put it on, I felt <br> like summer had arrived!"</p>
         <a href="https://www.instagram.com/genevievedrea/" target="_blank" >@genevievedrea</a>
        </div>
      </div>

      <div class="mainSliderContainer__slide">
        <div class="mainSliderContainer__img">
          <img src="https://cdn.shopify.com/s/files/1/3012/3948/files/carouselImg2.png?v=1613145545">
        </div>
        <div class="mainSliderContainer__text">
          <p>I wish they had more colors. <br> I’d buy them all. Comfiest shirt ever!</p>
          <a href="https://www.instagram.com/brynneerskine/" target="_blank" >@brynneerskine</a>
        </div>
      </div>

      <div class="mainSliderContainer__slide">
        <div class="mainSliderContainer__img">
          <img src="https://cdn.shopify.com/s/files/1/3012/3948/files/carouselImg3.png?v=1613145545">
        </div>
        <div class="mainSliderContainer__text">
          <p>Comfortable and cute.<br> Love the pockets!</p>
          <a href="https://www.instagram.com/shayken3/" target="_blank" >@shayken3</a>
        </div>
      </div>      
    </div>
    
    
    <div class="sliderNavContainer">
      <div class="sliderNavContainer__slide">
        <div class="sliderNavContainer__img">
          <img src="https://cdn.shopify.com/s/files/1/3012/3948/files/carouselImg1.png?v=1613145540">
        </div>
        <div class="sliderNavContainer__text">
          <p>"I am in love with this dress. <br> As soon as I put it on, I felt <br> like summer had arrived!"</p>
          <a href="https://www.instagram.com/genevievedrea/" target="_blank">@genevievedrea</a>
        </div>
      </div>
      
      <div class="sliderNavContainer__slide">
        <div class="sliderNavContainer__img">
          <img src="https://cdn.shopify.com/s/files/1/3012/3948/files/carouselImg2.png?v=1613145545">
        </div>
        <div class="sliderNavContainer__text">
          <p>I wish they had more colors. <br> I’d buy them all. Comfiest shirt ever!</p>
          <a href="https://www.instagram.com/brynneerskine/" target="_blank">@brynneerskine</a>
        </div>
      </div>
      
      <div class="sliderNavContainer__slide">
        <div class="sliderNavContainer__img">
          <img src="https://cdn.shopify.com/s/files/1/3012/3948/files/carouselImg3.png?v=1613145545">
        </div>
        <div class="sliderNavContainer__text">
          <p>Comfortable and cute. <br> Love the pockets!</p>
          <a href="https://www.instagram.com/shayken3/" target="_blank">@shayken3</a>
        </div>
      </div>

    </div>  
  </div>
</section>



<section id="ambassadorsForm" class="ambassadorsForm">
	
  <h2>APPLY TO BE A <br> SOZY AMBASSADOR TODAY</h2>
  
  <div class="ambassadorsForm_divider">  </div>
  
  <p class="ambassadorsForm__intro">Our ambassadors are outgoing empowered individuals who are extremely active online and are exceptional content creators/influencers.
    If you want to empower women and join a community that is standing up against sexual violence and promoting positive societal change, 
    fill out the form below. If accepted you will receive a confirmation email in the next few days. We can only accept a certain amount of ambassadors per
    quarter so if you don't receive a confirmation email, feel free to reapply again in the future.
  </p>
  {% capture contactForm %}
  {% form 'contact' %}
    {{ form.errors | default_errors }}

    <div id="first_name" class="clearfix large_form">
      <label for="first_name" class="login">{{ 'customer.register.first_name' | t }}*</label>
      <input type="text" value="" name="contact[first_name]" id="first_name" class="large" size="30" required/>
    </div>

    <div id="last_name" class="clearfix large_form">
      <label for="last_name" class="login">{{ 'customer.register.last_name' | t }}*</label>
      <input type="text" value="" name="contact[last_name]" id="last_name" class="large" size="30" required/>
    </div>

    <div id="email" class="clearfix large_form">
      <label for="email" class="login">{{ 'customer.register.email' | t }}*</label>
      <input type="email" value="" name="contact[email]" id="email" class="large" size="30" required/>
    </div>
  
     <div id="phone" class="clearfix large_form">
      <label for="phone" class="login">Phone*</label>
      <input type="tel" value="" name="contact[Phone]" id="phone" class="large" size="16" required/>
    </div>
  
     <div id="birthday" class="clearfix large_form">
      <label for="birthday" class="login">Birthday (must be over 18 to apply)</label>
      <input type="text" value="" name="contact[Birthday]" id="birthday" class="large" size="16" />
    </div>

     <div id="instagram_handle" class="clearfix large_form">
      <label for="instagram_handle" class="login">Instagram Handle</label>
      <input type="text" value="" name="contact[Instagram]" id="instagram_handle" class="large" size="30" />
    </div>
  
     <div id="facebook_link" class="clearfix large_form">
      <label for="facebook_link" class="login">Facebook Link</label>
      <input type="text" value="" name="contact[Facebook]" id="facebook_link" class="large" size="230" />
    </div>
  
     <div id="blog_link" class="clearfix large_form">
      <label for="blog_link" class="login">Do you have a website/blog / YouTube channel or other social media channels you use?</label>
      <input type="text" value="" name="contact[Social Media]" id="blog_link" class="large" size="230" />
    </div>
  
     <div id="why_sozy" class="clearfix large_form">
      <label for="why_sozy" class="login">Why do you want to be a Sozy Babe?</label>
      <input type="text" value="" name="contact[Why Sozy Babe]" id="why_sozy" class="large" size="250" />
    </div>
  
     <div id="referred_by" class="clearfix large_form">
      <label for="referred_by" class="login">Who referred you?</label>
      <input type="text" value="" name="contact[Referred by]" id="referred_by" class="large" size="50" />
    </div>

     <div id="affiliates" class="clearfix large_form">
      <label for="affiliates" class="login">Are you affiliated with another ambassador program, brand, organization or charity?</label>
      <input type="text" value="" name="contact[Other Affiliation]" id="affiliates" class="large" size="250" />
    </div>
    <div class="action_bottom">
      <input class="secondary button" type="submit" value="NEXT STEP"/>
    </div>
    {% endform %}
  {% endcapture %}
  {{ contactForm | replace: 'action=', 'data-action=' | replace: 'id=', 'data-id=' }}
  <div class="klaviyo_form" style="display:none">
    <form id="ambassador_email_signup" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
      <input type="hidden" name="g" value="JfBrif">
      <input type="hidden" name="$fields" value="accepts_marketing" />
      <input type="hidden" id="klaviyo_first_name" name="$first_name" value="" />
      <input type="hidden" id="klaviyo_last_name" name="$last_name" value="" />
      <input type="hidden" id="klaviyo_phone" name="$phone_number" value="" />
      <div class="klaviyo_field_group" style="display:none">                    
        <input type="email" value="" name="email" id="k_id_email" placeholder="Email" />         
      </div>
      <div id="accepts_marketing " class="accepts_marketing_box clearfix large_form">
        <input type="hidden" name="accepts_marketing" value="checked" />
        <input type="checkbox" name="accepts_marketing" checked="checked" />
        <label for="marketing" style="font-weight:normal">By applying, I agree to subscribe to email from Sozy</label>
      </div>
      <div class="klaviyo_form_actions">
        <button type="submit" class="klaviyo_submit_button">NEXT STEP</button>
      </div>
      <div class="klaviyo_messages">
        <div class="success_message" style="display:none;"></div>
        <div class="error_message" style="display:none;"></div>
      </div>
    </form>
    <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
    <script type="text/javascript">
      KlaviyoSubscribe.attachToForms('#ambassador_email_signup', {
        hide_form_on_success: true,
        success_message: "Thanks for confirming",
        success: function ($form) {
          $(".klaviyo_form").hide();
          //$(".attentive_form").show();
          $(".thank_you_submission").show();
          document.location.href="#ambassadorsForm";
          fbq('track', 'Lead');
        }
      });
    </script>
  </div>
  <div class="attentive_form" style="display:none">
    <div id="attentiveOptIn" class="fieldset-description" data-buyer-accepts-marketing-attentive=""
         aria-label="Phone Sign Up">
      <div class="section__content section__content__attentive">
        <div class="checkbox-wrapper">
          <div class="checkbox__input">
            <input name="attributes[buyer_accepts_marketing_attentive]" type="hidden" value="0">
            <input class="input-checkbox" data-backup="buyer_accepts_marketing" type="checkbox"
                   value="1" name="attributes[buyer_accepts_marketing_attentive]"
                   id="checkout_buyer_accepts_marketing_attentive" aria-labelledby="headers" tabindex="0"
                   focusable="true">
          </div>
          <div class="checkbox__label checkbox__label__attentive">
            <span id="headers" tabindex="0" focusable="true">
              <div class="checkbox__label__attentive__header">I agree to subscribe to text notifications from Sozy</div>
            </span>
            <div class="section__footer__attentive">By checking this box, you agree to receive
              recurring automated promotional and personalized marketing text messages <b>(e.g. cart
              reminders)</b> from Sozy at the cell number used when signing up. Consent is not a condition of
              any purchase. <b>Reply HELP for help and STOP to cancel.</b> Msg frequency varies. Msg & data
              rates may apply. View <a href="http://attn.tv/livesozy/terms.html" target="_blank" rel="noopener
                noreferrer" aria-label="Sozy Terms Link" >Terms</a> &amp; <a href="https://attnl.tv/p/UBj"
                                                                             target="_blank" rel="noopener noreferrer" aria-label="Sozy Privacy Link">Privacy</a>.</div>
          </div>
        </div>
      </div>
      <button class="submit_application">SUBMIT APPLICATION</button>
    </div>
  </div>
  <div class="thank_you_submission" style="display:none">
    <h3>Thanks for your application.<br>If accepted you will receive a confirmation email in the next few days.</h3> 
  </div>
</section>



<script>
  $(document).ready(function(){

    if($(window).width() < 1024){
      $('.mainSliderContainer').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        speed: 300,
        touchThreshold: 15,
        dots: false,  
        infinite: false,
        prevArrow:'<div class="pageCarousel__arrow left"><img src="https://cdn.shopify.com/s/files/1/3012/3948/files/left-arrow-bold.svg?v=1613162218"></div>',
        nextArrow:'<div class="pageCarousel__arrow right"><img src="https://cdn.shopify.com/s/files/1/3012/3948/files/rigth-arrow-bold.svg?v=1613162218"></div>'
      });
    }else{
      $('.mainSliderContainer').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        fade: true,
        dots: false,
        asNavFor: '.sliderNavContainer',
        infinite: false
      });
      $('.sliderNavContainer').slick({
        slidesToShow: 2,
        slidesToScroll: 1,
        asNavFor: '.mainSliderContainer',
        dots: false,
        centerMode: false,
        focusOnSelect: true,      
        infinite:false,
        prevArrow:'<div class="pageCarousel__arrow left"><img src="https://cdn.shopify.com/s/files/1/3012/3948/files/left-arrow-bold.svg?v=1613162218"></div>',
        nextArrow:'<div class="pageCarousel__arrow right"><img src="https://cdn.shopify.com/s/files/1/3012/3948/files/rigth-arrow-bold.svg?v=1613162218"></div>'
      });

    }
  }) 
// Before implementing this, you'll need to contact Shopify support and ask them to turn off Google's ReCaptcha
// for your Shopify store's contact forms. Otherwise, it will redirect to the captcha's verification page.
// I'd recommend replacing it with a custom solution like this: https://captcha.cremadesignstudio.com/

 // final submit button
  $(".submit_application").on("click",function(e){
    if($("#checkout_buyer_accepts_marketing_attentive").prop('checked') == true){
       var phone_number = $( "[data-id='phone'] input" ).val();
      if(phone_number.length > 0){
        $.ajax({
          url: "https://api.attentivemobile.com/1/add-subscribers",
          type: "POST",
          headers: { 
            "Authorization": "Bearer 2U_2xx0zjt-K2Vt4RqBgj1RRUFrfQIwJ4MiMIRB9fKg",
            "Content-Type": "application/json"
          },
          data: {
            phone: phone_number,
            creativeId: "69551"
          },
          error: function(err) {
            console.log("Attentive add subscriber error: "+err.status)
          },
          success: function(data) {
            console.log("Attentive subscriber added!");
          }
        });
      }
    }  
    $(".attentive_form").hide();
    $(".thank_you_submission").show();
    document.location.href="#ambassadorsForm";
    fbq('track', 'Lead');
  })
  
// update klaviyo form
  $( "[data-id='first_name']" ).change(function(e) {
    let value = $( this ).val();
    if(value.length > 0){
    	$("#klaviyo_first_name").val(value);
    }
  });
  $( "[data-id='last_name']" ).change(function(e) {
    let value = $( this ).val();
    if(value.length > 0){
    $("#klaviyo_last_name").val(value);
    }
  });
  $( "[data-id='email']" ).change(function(e) {
    let value = $( this ).val();
    if(value.length > 0){
    $("#k_id_email").val(value);
    }
  });
  $( "[data-id='phone']" ).change(function(e) {
    let value = $( this ).val();
    if(value.length > 0){
    $("#klaviyo_phone").val(value);
    }
  });
// Retrieves input data from a form and returns it as a JSON object:
function formToJSON(elements) {
	return [].reduce.call(elements, function (data, element) {
		data[element.name] = element.value;
		return data;
	}, {});
}

function getUrlString(data) {
	var urlParameters = Object.entries(data).map(function (e) {
		return e.join('=');
	}).join('&');

	return urlParameters;
}

function initForm(selector) {
	selector = selector || '.contact-form';

	document.querySelectorAll(selector).forEach(function(form) {
		var action = form.getAttribute("data-action"),
			alert = form.querySelector('[data-alert="status"]'),
			inputs = form.querySelectorAll("[name]"),
			btn = form.querySelector('[type="button"]');

		// Submit data via Fetch
		form.addEventListener('submit', function(e){
			e.preventDefault();
          //data validation
          var formValid = true;
          $("[required]").each(function(){
            if($(this).val().length == 0){
              $(this).addClass("error");
              document.location.href="#ambassadorsForm";
              formValid = false;
              return false;
            }else{
              $(this).removeClass("error");
              formValid = true;
            }
          })
          if(formValid == true){
			fetch(action, {
				method: 'POST',
				headers: {
					"Content-Type": "application/x-www-form-urlencoded",
					"Accept": "application/json"
				},
				body: getUrlString(formToJSON(inputs))
			}).then(function(response) {
				console.log(response);
				console.log("Response Status: " + response.status);
                $(".contact-form").hide();
                $(".klaviyo_form").show();
              	document.location.href="#ambassadorsForm";
			}).catch(function(error) {
				console.log(error);
				console.log("Response Status: " + response.status);
                $(".contact-form").hide();
                $(".klaviyo_form").show();
              	document.location.href="#ambassadorsForm";
			});
          }
		});
	});
}

initForm();

</script>